:root {
      --primary-color: rgb(0, 206, 155);
      --secondary-color: rgb(65, 193, 252);
      --dark-color: black;
      --light-color: rgb(186, 179, 179);
      --bg-color: rgb(39, 39, 39);
      --main-bg-color: rgb(29, 29, 29);
      --max-width: 1100px;
      --menu-bg-color: rgb(21, 21, 21);
}

.light-theme {
      --main-bg-color: rgb(214, 214, 214);
      /* --main-bg-color: white; */
      --primary-color: rgb(3, 97, 64);
      --secondary-color: rgb(0, 79, 164);
      --menu-bg-color: rgb(145, 145, 145);
}

/* Main Menu */
#main-nav .social {
      display: none;
}

#main-nav .container {
      display: grid;
      grid-template-columns: 5fr 3fr 1fr;
      /* grid-gap: 9.2rem; */
}

#main-nav ul,
#main-nav .logo-a{
      justify-self: center;
      text-align: center;

}

#main-nav ul li a {
      padding: 0.5rem;
}

#home-articles .article-container {
      grid-template-columns: repeat(2, 1fr);
}

#home-articles .article-container >*:first-child {
      grid-template-columns: 1fr;
      grid-column: 1;
}

#home-articles .article-container >*:last-child {
      grid-template-columns: 1fr;
      grid-column: 1;
}

/* test lesson article-container */

#home-articles .article-container-h {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
}

@media(max-width: 600px) {

      #main-nav .logo-a h1 {
            padding: 0;
      }
      /* stack grid items */
      #showcase .showcase-container,
      #home-articles .article-container,
      #main-footer .footer-container, .article-container-h {
            grid-template-columns: 1fr;
      }

      #main-footer .footer-container >*:last-child {
            grid-column: 1;
      }

      #main-footer .footer-container >*:first-child,
      #main-footer .footer-container >*:nth-child(2),
      #main-footer .footer-container >*:nth-child(3),
      #main-footer .footer-container >*:nth-child(4) {
            border-bottom: #555 dotted 1px;
            padding: 1rem;
      }

      .page-container {
            grid-template-columns: 1fr;
      }

      .page-container >*:first-child {
            grid-row: 1;
      }

      .body {
            background: var(--main-bg-color);
      }
}